.header {
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}

.footer {
  padding: 10px;
  text-align: center;
  background: black;
  color: white;
}

.card {
  padding: 10px;
  text-align: center;
}

.middle {
  margin: 1em 10% 2em; 
  position: fixed;
}

.country_flag {
  display: inline-block;
  position: absolute;
  right: 0;
}