<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<!--
<h2>Search rows by name: </h2>
<form action="/show/" method="GET">
    <input type="text" name="name" placeholder="Enter object name"/>
    <input type="submit" value="Go"/>
</form>
-->

{% if rows|length == 0 %}
    <h2>No rows found</h2>
{% else %}
    {% for row in rows %}
        <div>
            {% for key in row %}
            {{ key }}: <b>{{ row[key] }}</b>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

</body>
</html>