<!DOCTYPE html>
<html  lang="en">
<head>
	<meta charset="UTF-8">
	<title>Country</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<link href="../static/css/tabulator_materialize.min.css" rel="stylesheet">

</head>


<body onload="temp()">
	
	<div class="header">
		<img src="../static/img/database-icon.png" width="64" height="64" alt="db">
		<h2>DB Course Project</h2>
		<h4>Our Music</h4>
	</div>

	<div class="middle">
		<h1 id="country_id" style="text-align: center;">{{ country_id }}</h1>
		<img class="country_flag" id="country_flag_id"/>

		<h2>Artists Table</h2>
		<div id="artists-table"></div>
	
		<br>
		<div id="country-chart"></div>

	</div>

	<br>
	<div class="footer">
		<a href="http://courses.cs.tau.ac.il/databases/databases201920/index.php">Database Systems (Fall 2019/20)</a>
	</div>


	<script type="text/javascript" src="../static/js/tabulator.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="../static/js/config.js" defer></script>
	<script type="text/javascript" src="../static/js/country.js" defer></script>
</body>
</html>