<!DOCTYPE html>
<html>
<head>
	<title>DB Course</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<!--<link href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css" rel="stylesheet">-->
	<!--<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<link href="../static/css/tabulator_materialize.min.css" rel="stylesheet">
</head>

<body>

	<div class="header">
		<img src="../static/img/database-icon.png" width="64" height="64" alt="db">
		<h2>DB Course Project</h2>
		<h4>Our Music</h4>
	</div>

	<div class="middle">
		<br>
		<form id="country-form">
			<div class="form-row align-items-center">
				<div class="col-auto">
					<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Country:</label>
					<select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
						<option selected>Choose...</option>
					</select>
				</div>		
                <div class="col-auto">
                    <label  class="col-sm-1 col-form-label"></label>
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
		</form>

	    <br><br><br>

        <form id="tracks-form" style="display: inline">
            <label style="margin: 5px">Search by: </label>
            <input id="tracks-search-type" name="tracks-search-type" type="radio" value="track_name" checked="true" style="margin-left: 15px">
            Track Name
            <input id="tracks-search-type" name="tracks-search-type" type="radio" value="artist_name" style="margin-left: 15px">
            Artist Name
            <input id="tracks-search-type" name="tracks-search-type" type="radio" value="album_name" style="margin-left: 15px">
            Album Name
            <input id="tracks-search-type" name="tracks-search-type" type="radio" value="track_lyrics" style="margin-left: 15px">
            Track Lyrics

            <label style="margin-left: 30px">Genre:</label>
            <select id="tracks-search-genre">
                <option value="-1">--------------------------- All ---------------------------</option>
            </select>
            <br/>

            <label style="margin: 5px" id="tracks-search-type-label"></label><input id="tracks-search-box" type="text" placeholder="Search tracks"/>
            <label style="margin: 5px">Release date from: </label><input id="tracks-date-from" type="date"/>
            <label style="margin: 5px">Release date to: </label><input id="tracks-date-to" type="date"/>

            <button type="submit" style="float: right" class="btn btn-primary" onclick="reset()">Reset</button>
        </form>
        <br/><br/>
        <h2 style="display: inline">Tracks</h2>
        <span id="tracks-results-count">0</span>
        <div id="songs-table" style="min-height: 300px"></div>
        <br/><br/>

        <label style="margin: 5px">Page Size: </label>
        <select id="tracks-page-size">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
        <label style="margin: 5px">Page Number: </label>
        <b id="tracks-page-number">1</b>
        <button type="submit" style="margin-left: 20px" class="btn btn-secondary" id="tracks-page-prev" onclick="move_page(-1)">Load Previous</button>
        <button type="submit" style="margin-left: 5px" class="btn btn-secondary" id="tracks-page-next"  onclick="move_page(1)">Load Next</button>

        <br><br><br>
        <h2>Artists</h2>
        <div id="artists-table"></div>

    </div>

	<br><br>
	<div class="footer">
		<a href="http://courses.cs.tau.ac.il/databases/databases201920/index.php">Database Systems (Fall 2019/20)</a>
	</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript" src="../static/js/tabulator.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/js/config.js" defer></script>
	<script type="text/javascript" src="../static/js/index.js" defer></script>
    <script type="text/javascript" src="../static/js/utils.js" defer></script>

    <script>
        function get_table() {
            const text = $('#tracks-search-box')[0].value;
            const date_from = $('#tracks-date-from')[0].value;
            const date_to = $('#tracks-date-to')[0].value;
            const page_size = $('#tracks-page-size')[0].value;
            const page_number = parseInt($('#tracks-page-number')[0].innerText);
            let genre_id = $('#tracks-search-genre')[0].value;
            if (genre_id == '-1') genre_id = null;
            const search_by = getSearchType();
            get_table_songs(text, search_by, date_from, date_to, genre_id, page_size, page_number);
        }

        $(document).ready(function() {
            get_genres();

            // Setting listeners
            const wait = 500;
            $('#tracks-date-from').change(delay(function() { get_table();}, wait));
            $('#tracks-date-to').change(delay(function() { get_table();}, wait));
            $('#tracks-page-size').change(delay(function() { get_table();}, wait));
            $('#tracks-search-genre').change(delay(function() { get_table();}, wait));
            $('#tracks-search-box').keyup(delay(function() { get_table();}, wait));
            $('input[type=radio][name=tracks-search-type]').change(delay(function() {
                const searchType = getSearchType();
                document.getElementById('tracks-search-type-label').innerText = titleCase(searchType) + ':';
                if($('#tracks-search-box')[0].value.length > 0) get_table();
            }, wait*2));
            reset()
        });

        function reset(){
            const now = new Date();
            const nowString =
                now.getFullYear().toString() + '-' +
                ('0' + (now.getMonth()+1).toString()).substring(-1, 2) + '-' +
                now.getDate().toString();

            // Setting default values
            document.getElementById('tracks-search-type-label').innerText = 'Track Name:';
            $('#tracks-page-number').val(1);
            $('#tracks-page-number').text(1);
            $('#tracks-date-from').val('1900-01-01');
            $('#tracks-date-to').val(nowString);

            // First run
            get_table();
        }

        function getSearchType() {
            for (const radio of $('input[type=radio][name=tracks-search-type]')) {
                if (radio.checked) return radio.value;
            }
        }

        function move_page(move=1) {
            const current = parseInt($('#tracks-page-number')[0].innerText);
            const pageSize = parseInt($('#tracks-page-size')[0].innerText);
            const resultsShown = parseInt($('#tracks-results-count')[0].innerText);
            document.getElementById("tracks-page-prev").disabled = current + move <= 1;
            document.getElementById("tracks-page-next").disabled = resultsShown <= pageSize;
            if (current + move < 1) return;
            $('#tracks-page-number').text(current + move);
            get_table();
        }
    </script>
</body>
</html>
