<!DOCTYPE html>
<html>
<head>
	<title>DB Course</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../static/img/database-icon.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<link href="../static/css/tabulator_materialize.min.css" rel="stylesheet">
</head>

<body>

	<div class="header">
		<img src="../static/img/database-icon.png" width="64" height="64" alt="db">
		<h2>DB Course Project</h2>
		<h4>Our Music</h4>
	</div>


	<div class="middle">
        <h2>Search Country Charts</h2>
		<form id="country-form">
			<div class="form-row align-items-center">
				<div class="col-auto">
					<label class="my-1 mr-2" for="inlineFormCustomSelectPref">Country:</label>
					<select class="custom-select mr-sm-2" id="country-selector" disabled="true">
						<option selected value="-1" id="country-selector-default">Loading...</option>
					</select>
				</div>		
                <div class="col-auto">
                    <label  class="col-sm-1 col-form-label"></label>
                    <div class="col-auto my-1" id="country-submit-div"></div>
                </div>
            </div>
		</form>

	    <br><br><br>
        <h2>Search Tracks</h2>
        <br>
        <form id="tracks-form" style="display: inline">
            <label style="margin: 5px">Search by: </label>
            <input id="tracks-search-type" name="tracks-search-type" type="radio" value="track_name" checked="true" style="margin-left: 15px">
            Track Name
            <input id="tracks-search-type" name="tracks-search-type" type="radio" value="artist_name" style="margin-left: 15px">
            Artist Name
            <input id="tracks-search-type" name="tracks-search-type" type="radio" value="album_name" style="margin-left: 15px">
            Album Name
            <input id="tracks-search-type" name="tracks-search-type" type="radio" value="track_lyrics" style="margin-left: 15px">
            Track Lyrics

            <label style="margin-left: 30px">Genre:</label>
            <select id="tracks-search-genre" class="custom-select mr-sm-2" style="display: inline; max-width:350px">
                <option value="-1">--------------------------- All ---------------------------</option>
            </select>
            <br/><br/>

            <label style="margin: 5px" id="tracks-search-type-label"></label><input id="tracks-search-box" type="text" placeholder="Search tracks"/>
            <label style="margin: 5px">Release date from: </label><input id="tracks-date-from" type="date"/>
            <label style="margin: 5px">Release date to: </label><input id="tracks-date-to" type="date"/>

            <button type="submit" style="float: right" class="btn btn-primary" onclick="reset()">Reset</button>
        </form>
        <br/><br/>
        <span style="float: right"><span id="tracks-results-count">0</span><span> results</span></span>
        <div id="songs-table" style="min-height: 300px"></div><br/>

        <label style="margin: 5px">Page Size: </label>
        <select id="tracks-page-size">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
        <label style="margin: 5px">Page Number: </label>
        <b id="tracks-page-number">1</b>
        <button type="submit" style="margin-left: 20px" class="btn btn-secondary" id="tracks-page-prev" onclick="move_page(-1)">Load Previous</button>
        <button type="submit" style="margin-left: 5px" class="btn btn-secondary" id="tracks-page-next"  onclick="move_page(1)">Load Next</button>
    </div>

	<br><br>
	<div class="footer">
		<a href="http://courses.cs.tau.ac.il/databases/databases201920/index.php">Database Systems (Fall 2019/20)</a>
	</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript" src="../static/js/tabulator.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/js/config.js" defer></script>
	<script type="text/javascript" src="../static/js/index.js" defer></script>
    <script type="text/javascript" src="../static/js/utils.js" defer></script>

</body>
</html>
