<!DOCTYPE html>
<html lang="en">

<head>
    <title>Artists World!</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            background-color: #F3BFDD;
        }

        h1 {
            color: black;
        }
    </style>
</head>

<body>

    <body class="notranslate">
        <div id="root">
            <div class="Toastify">
            </div>
            <div class="MainContainer__Wrapper-ucsgkg-0 jgherO">
                <aside class="MainMenu__Wrapper-sc-1406hq1-3 fRpQzb">
                    <a aria-current="page" class="Link-qbmtah-0 hfNilI MainMenu__IconWrapper-sc-1406hq1-4 cPpCXx active" href="/">
                        <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                             <text x="1" y="15">Artists Discovery!</text>
                        </svg>
                    </a>
                    <a class="Link-qbmtah-0 hfNilI MainMenu__LinkedItem-sc-1406hq1-1 UEsFo active" href="/app/search" aria-current="page">
                        <div class="MainMenu__Item-sc-1406hq1-2 lFQIn">
                            <svg viewBox="10 10 1500 1500" fill="currentColor">
                                <path d="M126.1 124.3L97.3 94.9c6.9-7.3 11.2-17.1 11.2-28 0-22.4-18.2-40.6-40.6-40.6S27.3 44.5 27.3 66.9s18.2 40.6 40.6 40.6c9.4 0 18.1-3.2 25-8.6l28.9 29.6c.6.6 1.4.9 2.1.9.8 0 1.5-.3 2.1-.9 1.2-1.1 1.2-3 .1-4.2zM33.3 66.9c0-19.1 15.5-34.6 34.6-34.6s34.6 15.5 34.6 34.6-15.5 34.6-34.6 34.6S33.3 86 33.3 66.9z">
                                </path>
                            </svg>
                            Search
                        </div>
                    </a>
                    <div class="MainMenu__Title-sc-1406hq1-0 gVMJiJ">
                        Market Intelligence
                    </div>
                    <a class="Link-qbmtah-0 hfNilI MainMenu__LinkedItem-sc-1406hq1-1 UEsFo" href="/app/market/charts">
                        <div class="MainMenu__Item-sc-1406hq1-2 lFQIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 30 30">
                                <path fill="#fff" fill-rule="evenodd" d="M0 21a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-8zm2 1v6h2v-6H2zM12 11a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1V11zm2 1v16h2V12h-2zM24 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v28a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1V1zm2 1v26h2V2h-2z" clip-rule="evenodd">

                                </path>
                            </svg>
                            Charts
                        </div>
                    </a>
                    <a class="Link-qbmtah-0 hfNilI MainMenu__LinkedItem-sc-1406hq1-1 UEsFo" href="/app/market/playlists">
                        <div class="MainMenu__Item-sc-1406hq1-2 lFQIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 30 30">
                                <path fill="#fff" fill-rule="evenodd" d="M19.808 1.395l9.7 8.932-1.016 1.104-7.412-6.826-1.33 18.423a5.75 5.75 0 1 1-1.244-3.6l1.302-18.033zM14 18.75a4.25 4.25 0 1 0 0 8.5 4.25 4.25 0 0 0 0-8.5zm-14-15h15v-1.5H0v1.5zm15 5H0v-1.5h15v1.5zm-15 5h15v-1.5H0v1.5z" clip-rule="evenodd">

                                </path>
                            </svg>
                            Playlists
                        </div>
                    </a>
                    <a class="Link-qbmtah-0 hfNilI MainMenu__LinkedItem-sc-1406hq1-1 UEsFo" href="/app/market/airplay">
                        <div class="MainMenu__Item-sc-1406hq1-2 lFQIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="31" height="30" fill="none" viewBox="0 0 31 30">
                                <path fill="#fff" fill-rule="evenodd" d="M15.164 13.167a1.833 1.833 0 1 0 0 3.666 1.833 1.833 0 0 0 0-3.666zM11.33 15a3.833 3.833 0 1 1 7.667 0 3.833 3.833 0 0 1-7.667 0zM5.855 4.277a1 1 0 0 1 0 1.414 13.167 13.167 0 0 0 0 18.618 1 1 0 1 1-1.414 1.414 15.167 15.167 0 0 1 0-21.446 1 1 0 0 1 1.414 0zm18.617 0a1 1 0 0 1 1.415 0 15.167 15.167 0 0 1 0 21.446 1 1 0 0 1-1.415-1.414 13.167 13.167 0 0 0 0-18.618 1 1 0 0 1 0-1.414zM9.864 8.272a1 1 0 0 1 0 1.415 7.5 7.5 0 0 0 0 10.612 1 1 0 0 1-1.414 1.415 9.5 9.5 0 0 1 0-13.442 1 1 0 0 1 1.414 0zm10.599.015a1 1 0 0 1 1.414-.001 9.5 9.5 0 0 1 0 13.442 1 1 0 0 1-1.413-1.415 7.501 7.501 0 0 0 0-10.612 1 1 0 0 1-.001-1.414z" clip-rule="evenodd">

                                </path>
                            </svg>
                            Airplay
                        </div>
                    </a>
                    <a class="Link-qbmtah-0 hfNilI MainMenu__LinkedItem-sc-1406hq1-1 UEsFo" href="/app/market/compare">
                        <div class="MainMenu__Item-sc-1406hq1-2 lFQIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 30 30">
                                <path fill="#fff" fill-rule="evenodd" d="M1.793 20.507a6 6 0 0 1 4.243-1.757h10a6 6 0 0 1 6 6V27a1 1 0 0 1-1 1h-20a1 1 0 0 1-1-1v-2.25a6 6 0 0 1 1.757-4.243zm4.243.243a4 4 0 0 0-4 4V26h18v-1.25a4 4 0 0 0-4-4h-10zM11 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm-6 4a6 6 0 1 1 12 0 6 6 0 0 1-12 0zM22.53 19.758a1 1 0 0 1 1.212-.728c1.174.293 2.249.899 3.031 1.855.788.962 1.226 2.214 1.227 3.702v2.163a1 1 0 1 1-2 0v-2.162c0-1.081-.313-1.872-.774-2.437-.468-.57-1.142-.974-1.968-1.18a1 1 0 0 1-.728-1.213zM19.031 4.752a1 1 0 0 1 1.217-.72 6 6 0 0 1 0 11.624 1 1 0 1 1-.496-1.937 4 4 0 0 0 0-7.75 1 1 0 0 1-.72-1.217z" clip-rule="evenodd">

                                </path>
                            </svg>
                            Compare artists
                        </div>
                    </a>
                    <div class="MainMenu__Title-sc-1406hq1-0 gVMJiJ">
                        Artists
                    </div>
                    <div class="Artists__ItemsWrapper-jovzzs-0 gOfUPp">
                        <div class="Artists__ItemsScrollable-jovzzs-1 jxvBta">
                            <div class="NonIdealState__Wrapper-sc-2uu5rb-0 jOjNrm Artists__NonIdealStateWrapper-jovzzs-4 hFiVSL">
                                <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30.3" class="NonIdealState__Icon-sc-2uu5rb-1 TESYa">
                                    <path fill="#475D8F" d="M14.5,0C10.9,0,8,2.9,8,6.5v3c0,2.5,1.4,4.7,3.6,5.8v3.1c0,0-8.4,4.1-9.9,6.1C0.3,26.2,0.1,27,0,29 c0,0.6,0.4,1,1,1h16.5l1.2-3.6l-3.6-2.6c-1.1-0.8-0.5-2.5,0.8-2.5h4.4l0.6-1.7l-2.7-1.2v-3.5c1.7-1.2,2.9-3.1,2.9-5.4v-3 C21,2.9,18.1,0,14.5,0z">

                                    </path>
                                    <path fill="#E45D5E" d="M29.1,23c-0.1-0.2-0.3-0.4-0.5-0.4h-3.9l-1.2-3.7c-0.1-0.2-0.3-0.4-0.5-0.4c-0.2,0-0.4,0.2-0.5,0.4l-1.2,3.7 h-3.9c-0.2,0-0.4,0.2-0.5,0.4c-0.1,0.2,0,0.4,0.2,0.6l3.2,2.3L19,29.6c-0.1,0.2,0,0.4,0.2,0.6c0.2,0.1,0.4,0.1,0.6,0l3.2-2.3 l3.2,2.3c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1c0.2-0.1,0.3-0.4,0.2-0.6l-1.2-3.7l3.2-2.3C29.1,23.5,29.2,23.2,29.1,23z">

                                    </path>
                                </svg>
                                <div class="NonIdealState__Title-sc-2uu5rb-2 jpxLlQ">
                                    No artists in your favorites. Start starring artists to find them here.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Popper__Overlay-sc-1eu1tty-0 flyzJe UserButton__PopperWrapper-zffrr5-1 eBOqun" x-placement="right-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(200px, 413px, 0px);">
                        <div class="UserButton__PopperOverlay-zffrr5-2 cFuTFo">
                            <a class="Link-qbmtah-0 hfNilI MainMenu__LinkedItem-sc-1406hq1-1 UEsFo UserButton__PopperItem-zffrr5-3 fmEIFl" href="/app/account/profile">
                        Your profile
                    </a>
                            <div class="UserButton__Line-zffrr5-4 dsnsoc"></div>
                            <div class="MainMenu__Title-sc-1406hq1-0 gVMJiJ">Teams</div>
                            <div class="Artists__ItemsWrapper-jovzzs-0 gOfUPp">
                                <div class="Artists__ItemsScrollable-jovzzs-1 jxvBta"><a class="Link-qbmtah-0 hfNilI MainMenu__LinkedItem-sc-1406hq1-1 UEsFo UserButton__PopperItem-zffrr5-3 fmEIFl" href="/app/team/lubna/artists">lubna</a></div>
                            </div>
                            <div class="UserButton__Line-zffrr5-4 dsnsoc"></div>
                            <a role="button" class="Link-qbmtah-0 hfNilI MainMenu__LinkedItem-sc-1406hq1-1 UEsFo UserButton__CreateItemWrapper-zffrr5-5 kinUjK">
                                <div class="MainMenu__Item-sc-1406hq1-2 lFQIn">
                                    <svg viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M1.515 9.35a.65.65 0 1 0 0 1.3v-1.3zm16.97 1.3a.65.65 0 1 0 0-1.3v1.3zM9.35 18.485a.65.65 0 1 0 1.3 0h-1.3zm1.3-16.97a.65.65 0 1 0-1.3 0h1.3zM1.515 10.65H10v-1.3H1.515v1.3zm8.485 0h8.485v-1.3H10v1.3zm.65 7.835V10h-1.3v8.485h1.3zm0-8.485V1.515h-1.3V10h1.3z"></path>
                                    </svg>Create new team</div>
                            </a>
                        </div>
                        <div x-arrow="" style="top: 182px;"></div>
                    </div>
                    <div class="Popper__Wrapper-sc-1eu1tty-1 deZREH">
                        <div class="UserButton__Footer-zffrr5-0 gwtQy">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="15" cy="15" r="15" fill="#3b5694"></circle>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
                                    <circle cx="15" cy="15" r="15" fill="#C4C4C4"></circle>
                                </mask>
                                <g mask="url(#mask0)">
                                    <path d="M25.5567 29.9785L24.8674 26.3281C24.5959 25.1753 23.9274 24.4495 22.7786 24.0439L17.4312 22.6563V21.1406C16.6374 21.5249 15.7601 21.7384 14.8201 21.7384C13.8802 21.7384 12.982 21.5249 12.1673 21.1406V22.6563L6.75726 24.0652C5.62929 24.3854 4.96086 25.282 4.73109 26.3067C4.73109 26.3067 4.39688 27.9932 4 29.9998H25.5567V29.9785Z" fill="#748BC2"></path>
                                    <path d="M21.003 12.751V14.5655C21.003 18.0665 18.2248 20.8844 14.82 20.8844C11.4152 20.8844 8.61621 18.0452 8.61621 14.5655V12.751H21.003Z" fill="#748BC2"></path>
                                    <path d="M8.61621 14.1598V12.3666C8.61621 8.86559 11.3944 6.02637 14.82 6.02637C18.2457 6.02637 21.003 8.86559 21.003 12.3452V14.1598H8.61621Z" fill="#748BC2"></path>
                                </g>
                            </svg>
                            <div class="Artists__InnerText-jovzzs-2 hcJxwa">Lubna&nbsp;Ghanem</div>
                        </div>
                    </div>
                </aside>
                <div class="MainContainer__ContainerWrapper-ucsgkg-1 epWGSy">
                    <div class="Search__Wrapper-sc-1rv8so0-0 gprDJn">
                        <div class="ais-InstantSearch__root">
                            <div class="Header__HeaderWrapper-sc-1d2fixi-0 eoacNE">
                                <div class="Header__Title-sc-1d2fixi-1 zDHVl">Search for an artist</div>
                                <div>
                                    <svg viewBox="2 2 102 102" fill="currentColor" class="SearchBox__AbsoluteSearch-hbm9dt-1 eJAnYP">
                                        <path d="M126.1 124.3L97.3 94.9c6.9-7.3 11.2-17.1 11.2-28 0-22.4-18.2-40.6-40.6-40.6S27.3 44.5 27.3 66.9s18.2 40.6 40.6 40.6c9.4 0 18.1-3.2 25-8.6l28.9 29.6c.6.6 1.4.9 2.1.9.8 0 1.5-.3 2.1-.9 1.2-1.1 1.2-3 .1-4.2zM33.3 66.9c0-19.1 15.5-34.6 34.6-34.6s34.6 15.5 34.6 34.6-15.5 34.6-34.6 34.6S33.3 86 33.3 66.9z"></path>
                                    </svg>
                                    <input type="search" placeholder="Search for an artist..." class="SearchBox__Input-hbm9dt-0 fxOXnK" value="">
                                </div>
                            </div>
                            <div class="Layout__LayoutScrollable-sc-94n35m-8 ikpIvN">
                                <div class="Layout__LayoutBodyElement-sc-94n35m-0 hyvBZK">
                                    <div class="Results__Title-sc-1q6fm2y-2 eexPNK">Trending</div>
                                    <div class="Results__WrapperHits-sc-1q6fm2y-0 cZJASF">
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Tones and I" href="/app/artist/tones-and-i/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/0/0/c/ca22091a-3c00-11e9-974f-549f35141000.jpg" title="Tones and I" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Tones and I</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Arizona Zervas" href="/app/artist/arizona-zervas/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/9/5/6/11e81bbe-e659-b24e-8968-a0369fe50396.jpg" title="Arizona Zervas" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Arizona Zervas</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="The Weeknd" href="/app/artist/the-weeknd/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/f/3/b/11e81bd0-fb3f-6e08-8b7f-a0369fe50396.jpg" title="The Weeknd" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">The Weeknd</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Maroon 5" href="/app/artist/maroon-5/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/1/6/b/11e81bc7-1b61-cf28-899b-a0369fe50396.jpg" title="Maroon 5" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Maroon 5</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Post Malone" href="/app/artist/post-malone/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/8/a/a/11e81bd3-1aa8-e9ac-949d-a0369fe50396.jpg" title="Post Malone" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Post Malone</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Billie Eilish" href="/app/artist/billie-eilish/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/c/1/c/11e81bcc-9c1c-ce38-b96b-a0369fe50396.jpg" title="Billie Eilish" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Billie Eilish</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Dua Lipa" href="/app/artist/dua-lipa/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/1/e/4/11e81bcd-e4e1-abec-b679-a0369fe50396.jpg" title="Dua Lipa" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Dua Lipa</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="The Black Eyed Peas" href="/app/artist/the-black-eyed-peas-1/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/3/d/7/11e81bc0-27d3-ccf4-9a4c-a0369fe50396.jpg" title="The Black Eyed Peas" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">The Black Eyed Peas</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Shawn Mendes" href="/app/artist/shawn-mendes/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/f/8/7/11e81bc2-a78f-b7bc-a66a-a0369fe50396.jpg" title="Shawn Mendes" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Shawn Mendes</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Mariah Carey" href="/app/artist/mariah-carey/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/f/1/a/11e81bd3-4a1f-de5c-8a88-a0369fe50396.jpg" title="Mariah Carey" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Mariah Carey</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Lewis Capaldi" href="/app/artist/lewis-capaldi/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/8/0/0/11e81bd0-8008-de18-90e5-a0369fe50396.jpg" title="Lewis Capaldi" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Lewis Capaldi</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Selena Gomez" href="/app/artist/selena-gomez/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/9/5/7/11e81bcd-4759-966e-904e-a0369fe50396.jpg" title="Selena Gomez" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Selena Gomez</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Karol G" href="/app/artist/karol-g-1/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/1/d/8/11e81bd2-88d1-46fa-89de-a0369fe50396.jpg" title="Karol G" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Karol G</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Travis Scott" href="/app/artist/travis-scott/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/3/4/8/11e81bc3-b843-a3b0-b531-a0369fe50396.jpg" title="Travis Scott" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Travis Scott</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                        <a class="Link-qbmtah-0 hfNilI Search__LinkWrapper-uzelza-0 srrXw" title="Bad Bunny" href="/app/artist/bad-bunny/overview">
                                            <div class="Search__Header-uzelza-2 dKRlGx">
                                                <div class="Favorite__Wrapper-ypvlj5-0 dmipmV">
                                                    <div>
                                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.0969 1.59283C10.4585 0.831822 11.5416 0.831821 11.9033 1.59283L14.0046 6.0145C14.1473 6.31475 14.4299 6.52446 14.7586 6.57406L19.5181 7.29225C20.3266 7.41425 20.6549 8.40219 20.0803 8.98385L16.5892 12.5177C16.3641 12.7456 16.2618 13.0675 16.314 13.3835L17.1315 18.3335C17.2673 19.1557 16.397 19.7735 15.6657 19.3742L11.4792 17.0886C11.1806 16.9256 10.8195 16.9256 10.5209 17.0886L6.33443 19.3742C5.60308 19.7735 4.73283 19.1557 4.86861 18.3335L5.68617 13.3835C5.73836 13.0675 5.63603 12.7456 5.41093 12.5177L1.91983 8.98385C1.34521 8.40219 1.67355 7.41425 2.48202 7.29225L7.24149 6.57406C7.5702 6.52446 7.85278 6.31475 7.99547 6.0145L10.0969 1.59283Z" stroke="currentColor" stroke-width="1.3"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="Search__CoverWrapper-uzelza-3 bHRreh"><img src="//assets.soundcharts.com/artist/d/e/6/11e81bc0-96ed-54e8-b12c-a0369fe50396.jpg" title="Bad Bunny" class="Search__Cover-uzelza-4 eeOYmv"></div>
                                                <div class="Search__Name-uzelza-5 kahPKg"><span class="ais-Highlight Results__StyledHighlight-sc-1q6fm2y-1 drHWjy"><span class="ais-Highlight-nonHighlighted">Bad Bunny</span></span>
                                                </div>
                                            </div>
                                            <div class="Search__Footer-uzelza-6 gMewyE"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Banner__Wrapper-sc-1m55z1c-0 kQtSHm">Team lubna - Your free trial expires in 13 days.
                    <button class="Button-sc-1clf6lp-0 iNqwGo">Subscribe</button>
                </div>
            </div>
        </div>
        <script>
            ! function() {
                var o = window.analytics = window.analytics || [];
                if (!o.initialize)
                    if (o.invoked) window.console && console.error && console.error("Segment snippet included twice.");
                    else {
                        o.invoked = !0, o.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"], o.factory = function(t) {
                            return function() {
                                var e = Array.prototype.slice.call(arguments);
                                return e.unshift(t), o.push(e), o
                            }
                        };
                        for (var e = 0; e < o.methods.length; e++) {
                            var t = o.methods[e];
                            o[t] = o.factory(t)
                        }
                        o.load = function(e, t) {
                            var n = document.createElement("script");
                            n.type = "text/javascript", n.async = !0, n.src = "https://cdn.segment.com/analytics.js/v1/" + e + "/analytics.min.js";
                            var a = document.getElementsByTagName("script")[0];
                            a.parentNode.insertBefore(n, a), o._loadOptions = t
                        }, o.SNIPPET_VERSION = "4.1.0", o.load("XyC5gqMzWoJUiOaMauFIuKenlJ4p3J8L"), o.page()
                    }
            }()
        </script>
        <script>
            ! function(l) {
                function e(e) {
                    for (var r, t, n = e[0], o = e[1], u = e[2], f = 0, i = []; f < n.length; f++) t = n[f], p[t] && i.push(p[t][0]), p[t] = 0;
                    for (r in o) Object.prototype.hasOwnProperty.call(o, r) && (l[r] = o[r]);
                    for (s && s(e); i.length;) i.shift()();
                    return c.push.apply(c, u || []), a()
                }

                function a() {
                    for (var e, r = 0; r < c.length; r++) {
                        for (var t = c[r], n = !0, o = 1; o < t.length; o++) {
                            var u = t[o];
                            0 !== p[u] && (n = !1)
                        }
                        n && (c.splice(r--, 1), e = f(f.s = t[0]))
                    }
                    return e
                }
                var t = {},
                    p = {
                        2: 0
                    },
                    c = [];

                function f(e) {
                    if (t[e]) return t[e].exports;
                    var r = t[e] = {
                        i: e,
                        l: !1,
                        exports: {}
                    };
                    return l[e].call(r.exports, r, r.exports, f), r.l = !0, r.exports
                }
                f.m = l, f.c = t, f.d = function(e, r, t) {
                    f.o(e, r) || Object.defineProperty(e, r, {
                        enumerable: !0,
                        get: t
                    })
                }, f.r = function(e) {
                    "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, {
                        value: "Module"
                    }), Object.defineProperty(e, "__esModule", {
                        value: !0
                    })
                }, f.t = function(r, e) {
                    if (1 & e && (r = f(r)), 8 & e) return r;
                    if (4 & e && "object" == typeof r && r && r.__esModule) return r;
                    var t = Object.create(null);
                    if (f.r(t), Object.defineProperty(t, "default", {
                            enumerable: !0,
                            value: r
                        }), 2 & e && "string" != typeof r)
                        for (var n in r) f.d(t, n, function(e) {
                            return r[e]
                        }.bind(null, n));
                    return t
                }, f.n = function(e) {
                    var r = e && e.__esModule ? function() {
                        return e.default
                    } : function() {
                        return e
                    };
                    return f.d(r, "a", r), r
                }, f.o = function(e, r) {
                    return Object.prototype.hasOwnProperty.call(e, r)
                }, f.p = "/";
                var r = window.webpackJsonp = window.webpackJsonp || [],
                    n = r.push.bind(r);
                r.push = e, r = r.slice();
                for (var o = 0; o < r.length; o++) e(r[o]);
                var s = n;
                a()
            }([])
        </script>
        <script src="/static/js/1.a4519f86.chunk.js"></script>
        <script src="/static/js/main.0e6d7848.chunk.js"></script>
        <div id="fb-root" class=" fb_reset">
            <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                <div>
                    <iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://staticxx.facebook.com/connect/xd_arbiter.php?version=45#channel=f25c3da7d9a9c08&amp;origin=https%3A%2F%2Fapp.soundcharts.com" style="border: none;"></iframe>
                </div>
                <div></div>
            </div>
        </div>
        <iframe id="ssIFrame_google" sandbox="allow-scripts allow-same-origin" aria-hidden="true" frame-border="0" src="https://accounts.google.com/o/oauth2/iframe#origin=https%3A%2F%2Fapp.soundcharts.com&amp;rpcToken=306378246.854951&amp;clearCache=1" style="position: absolute; width: 1px; height: 1px; left: -9999px; top: -9999px; right: -9999px; bottom: -9999px; display: none;"></iframe>
        <script type="text/javascript" id="">
            ! function(b, e, f, g, a, c, d) {
                b.fbq || (a = b.fbq = function() {
                    a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments)
                }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d))
            }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
            fbq("init", "354193731846268");
            fbq("set", "agent", "tmgoogletagmanager", "354193731846268");
            fbq("track", "PageView");
        </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=354193731846268&amp;ev=PageView&amp;noscript=1"></noscript>
        <iframe id="intercom-frame" style="position: absolute !important; opacity: 0 !important; width: 1px !important; height: 1px !important; top: 0 !important; left: 0 !important; border: none !important; display: block !important; z-index: -1 !important;" aria-hidden="true" tabindex="-1" title="Intercom"></iframe>
        <div id="intercom-css-container">
            <style data-emotion="intercom-global"></style>
            <style data-emotion="intercom"></style>
        </div>
        <div id="intercom-container" class="intercom-namespace">
            <style>
                html.intercom-mobile-messenger-active,
                html.intercom-mobile-messenger-active > body,
                html.intercom-modal-open,
                #intercom-container-body {
                    overflow: hidden !important;
                }

                html.intercom-mobile-messenger-active,
                html.intercom-mobile-messenger-active > body {
                    position: static !important;
                }

                html.intercom-mobile-messenger-active > body {
                    height: 0 !important;
                    margin: 0 !important;
                }

                iframe#intercom-frame {
                    position: absolute !important;
                    opacity: 0 !important;
                    width: 1px !important;
                    height: 1px !important;
                    top: 0 !important;
                    left: 0 !important;
                    border: none !important;
                    display: block !important;
                    z-index: -1 !important;
                }
            </style>
            <div class="intercom-app" aria-live="polite">
                <iframe allowfullscreen="" class="intercom-launcher-frame intercom-tobyoh e1ur5zlj0" name="intercom-launcher-frame" title="Intercom live chat" data-intercom-frame="true"></iframe>
                <div id="intercom-modal-container"></div>
            </div>
        </div>
        <iframe owner="archetype" style="display: none; visibility: hidden;"></iframe>
        <script type="text/javascript" id="">
            ! function(b, e, f, g, a, c, d) {
                b.fbq || (a = b.fbq = function() {
                    a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments)
                }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d))
            }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
            fbq("init", "283555152336236");
            fbq("track", "PageView");
        </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=283555152336236&amp;ev=PageView&amp;noscript=1"></noscript>

    </body>
</body>

</html>